
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.chat-content {
  overflow-y: scroll;
  border: 1px solid #787878;
  width: 100%;
  height: 450px;
  .chat-item {
    margin: 10px;
    .content {
      color: black;
      border-radius: 5px;
      padding: 5px;
      background-color: #2ab27b;
      span.user {
        font-weight: bold;
      }
      .detail {
        text-indent:2em;
      }
    }
  }
}

#message {
  width: 70%;
  height: 50px;
  margin-right: 0px;
  float: left;
}
#send-message {
  float: left;
  margin-left: 0px;
  width: 30%;
  height: 50px;
}